body, html {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    overflow: hidden;
  }

#App{
    
}

.text {
    padding: 5rem 10rem;
    font-size: 0.8rem;
    width: 40%;
}

nav  {
    height: 5%;
}

nav ul.uk-tab:before{
    border: none;
}

.tab-nav {
    padding-top: 5vh; 
}

.uk-tab {
    margin: 0;
}

.button {
    position: sticky;
    z-index: 2000;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video {
    width: 50%;
    -webkit-box-shadow: 0px 0px 62px -38px rgba(163,157,163,1);
    -moz-box-shadow: 0px 0px 62px -38px rgba(163,157,163,1);
    box-shadow: 0px 0px 62px -38px rgba(163,157,163,1);
    border-radius: 16px;
    padding: 1rem;
    border: 1px solid #D5DAEA;
    border-radius: 8px;
}

.flex-container-python {
    justify-content: center;
}

.python-icon {
    display:flex;
}

.python-icon svg {
    margin: auto;
}

.python-button {
    margin: 0 auto;
}

.python-band{
    flex: 1;
    padding: 0 2.5rem;
    max-height: 85vh;
    justify-content: center;
}

.python-text {
    
}

.python-title {
    display: grid;
    grid-template-columns: repeat(6, minmax(1px,1fr));
    grid-gap: .5rem;
}

.python-span {
    grid-column: 1/7;
}

.exp-grid{
    padding: 2.5rem;
}

form  textarea {
    height: 10rem;
}

.about_text {
    padding: 0 1rem;
}

.under-construction {
    background: transparent url('../images/under-construction.png') no-repeat fixed center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

.react-card {
    height: 33rem;
    margin-top: 5rem;
}

.arrow-left{
    position: fixed !important;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}

.arrow-right {
    position: fixed !important;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

@keyframes grow {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}